*
!waybar/
!waybar/*

!zed/
!zed/*

!fuzzel/
!fuzzel/*

!hypr/
!hypr/*
!hypr/sourcefiles/
!hypr/sourcefiles/*
!hypr/wallpaper/
!hypr/wallpaper/*
!hypr/plugins/
!hypr/plugins/*

!kitty/
!kitty/*

!fish/
!fish/*
