.config/kde.org
.config/easyeffects
.config/Electron
.config/gtk-3.0
.config/discord
.config/dconf
.config/"Mullvad VPN"
.config/pulse
.config/qBittorrent
.config/session
.config/systemd
.config/yadm
.config/baloofileinformationrc
.config/dophinrc
.config/filetypesrc
.config/mimeapps.list
.config/pavucontrol.ini
.config/QtProject.conf
.config/trashrc
