window {
    margin: 2px;
    border: 2px solid #383838;
    background-color: #fafbff;
    font-size: 16pt;
    font-family: "Iosevka Nerd Font";
}

#input {
    padding: 4px;
    border-bottom: #2e9ad5 3px solid;
    color: #2e9ad5;
    font-weight: bold;
    background: #d1e7f5;
    outline: none;
    border-radius: 0px;
}

#input:text {
    color: #fafbff;
}

#input:focus {
    border: none;
}

#input:image {
    image: #fff;
}

#entry {
    transition:
        padding-left 200ms,
        border 400ms;
    padding-left: 5px;
}

#entry:selected {
    padding-left: 10px;
    background-color: #d1e7f5;
    border-right: 3px solid #2e9ad5;
}

#text {
    color: #2e9ad5;
}

#inner-box {
    background-color: #fafbff;
}

#outer-box {
    border: 3px solid #2e9ad5;
}
