window {
    margin: 2px;
    border: 2px solid #7eb5d3;
    border-radius: 5px;
    background-color: #202646;
    font-size: 16pt;
    font-family: "JetBrains Mono";
}

#input {
    color: #202646;
    background-color: #7ab1cf;
}

#input:text {
    color: #202646;
}

#input:selected {
    color: #7ab1cf;
    border: 2px solid #202646;
}

#entry {
    padding-left: 5px;
}

#entry:selected {
    padding-left: 10px;
    background-color: #202646;
    border-left: 2px solid #7eb5d3;
}

#text {
    color: #ffffff;
}

#inner-box {
}

#outer-box {
    margin: 10px;
}
