window {
    margin: 2px;
    border: 2px solid #6fc3df;
    border-radius: 5px;
    background-color: #000000;
    font-size: 16pt;
    font-family: "JetBrains Mono";
}

#input {
    color: #ffffff;
    background-color: #000000;
}

#input:text {
    color: #ffffff;
}

#input:selected {
    color: #ce9178;
    border: 2px solid #6fc3df;
}

#entry {
    padding-left: 5px;
}

#entry:selected {
    padding-left: 10px;
    background-color: #161616;
    border-left: 2px solid #6fc3df;
}

#text {
    color: #ffffff;
}

#inner-box {
}

#outer-box {
    margin: 10px;
}
